<div class="contents row">
  <div class="container">
    <%= form_for @qa do |f|%>

      <div class="field">
        <%= f.label :Question, "Question" %><br>
        <%= f.text_area :question, placeholder: "質問を記入して下さい" %>
      </div>

      <div class="field">
        <%= f.label :Qnswer, "Answer" %><br>
        <%= f.text_area :answer, cols: 90, rows: 10, placeholder: "答えを記入して下さい" %>
      </div>

      <div class="actions">
        <%= f.submit "追加する" %>
      </div>
    <% end %>
  </div>
</div>
