<div class="contents row">
  <div class="container">
    <%= form_for @qa do |f|%>

      <div class="field">
        <%= f.label :Category, "Category" %><br>
        <%= f.select :category_id, @categories %>
      </div>

      <div class="field">
        <%= f.label :Question, "Question" %><br>
        <%= f.text_area :question, placeholder: "質問を記入して下さい" %>
      </div>

      <div id="editor">
        <div class="field">
          <%= f.label :Answer, "Answer" %><br>
        <!--<%= f.text_area :answer, rows: 10, placeholder: "答えを記入して下さい" %> -->
          <textarea name="qa[answer]" id="n" class="form-control" rows="10" placeholder="答えを記入してください" v-model='input'></textarea>
        </div>


      <!-- Markdown Viewer -->
        <div class="di_inline_t preview">
          <div v-html='input | marked' style: :"width: 650px;">
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "追加する" %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
 window.onload = function() {
   new Vue({
     el: '#editor',
     data: {
       input: '<%== j @qa.answer %>',
     },
     filters: {
       marked: marked,
     },
   });
 };
</script>
